{% load static %}
    <!doctype html>
    <html lang="en">
      <head>
          <style>

            form
            {
                margin-top: 200px;
            }
            label
            {
              font-size: .5em;
              color:crimson;
              font-weight: bolder;
            }
            h1
            {
              color: brown;
            }

          </style>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="\static\CSS\aboutus.css">
        <title>online waste management</title>
      </head>
      <body>
    
    
        <body class="bgcolor" background="\static\images\b43.jpg" >
      <nav class="navbar navbar-expand-lg navbar-primary">
              <!-- <a class="navbar-brand" href="#">E Waste</a> -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/collectingagenthome/">collectingagenthome <span class="sr-only">(current)</span></a>
                  </li>
                
                </ul>
                <form class="form-inline  my-lg-0">
                 <!-- <a class="btn  " href="login.html">Login</a> --> 
               <a class="nav-link"  href="/collectingagenthome/">Logout</a>  
                </form>
              </div>
            </nav>
           <form class="col-md-4 offset-md-4 collectform" method="POST" action="/addsell/">
            <h1> Add Recycled Products</h1>
            {% csrf_token %}
            <!-- <div class="form-group row">
              <label for="productid"  class="col-md-4 col-form-label">Product Id</label>
     
              
              <div class="col-md-7">
                <input type="text" id="productid" name="productid" class="form-control">
              </div>
            </div> -->
            <div class="form-group row">
              <div class="col-md-7">
                             <input type="hidden" id="name" name="name" class="form-control" value={{user.first_name}}>
                           </div>
                         </div>
            <div class="form-group row">
                <label for="productname"   class="col-md-4 col-form-label">Product Name</label>
                <div class="col-md-7">
                  <!-- <input type="text" id="usertype" name="usertype" class="form-control"> -->
                <select for="productname" name="productname" class="col-md-12">
                  <option value="select" disabled="true" selected>select</option>
                  {% for e in s %}
                  
                  <option value="{{e.categoryname}}">{{e.categoryname}}</option>
                  <!-- <option value="Book">Book</option> -->
                  {% endfor %}
                </select>
             
                </div>
              </div>
            <div class="form-group row">
              <label for="weight"  class="col-md-4 col-form-label">Weight</label>
     
              
              <div class="col-md-7">
                <input type="text" id="weight" name="weight" class="form-control">
              </div>
            </div>
            
            <div class="form-group row">
              <label for="price"  class="col-md-4 col-form-label">Price</label>
     
              
              <div class="col-md-7">
                <input type="text" id="price" name="price" class="form-control">
              </div>
            </div>
          
           
    
            <div class="form-group row">
              <label for="date"  class="col-md-4 col-form-label">Date</label>
     
              
              <div class="col-md-7">
                <input type="text" id="date" name="date" class="form-control">
              </div>
            </div>
         
             <div class="form-group row">
              <div class="col-md-7">
                
              </div>
              <button type="submit" class="btn btn-primary btn-lg" >Add</button>
            </div>
          </form>
    





    
        <h1></h1>
    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      </body>
    </html>
    