{% load static %}
    <!doctype html>
    <html lang="en">
      <head>
          <style>
            form
            {
              margin-top: 150px;
              color:blue;
            text-align: center;
            }
        
            label
            {
             
              color:crimson;
              font-weight: bolder;
            }
            h1{
              size: 100;
              color:indigo;
              text-align: center;
            }

          </style>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="\static\CSS\aboutus.css">
        <title>online waste management</title>
      </head>
      <body>
    
    
        <body class="bgcolor10" background="\static\images\b33.jpg" >
    <nav class="navbar navbar-expand-lg navbar-primary ">
            <!-- <a class="navbar-brand" href="#">E Waste</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/collectingagenthome/">back <span class="sr-only">(current)</span></a>
                </li>
                
                
              </ul>
              <form class="form-inline  my-lg-0">
                
                <a class="nav-link" href="/collectingagenthome/">back <span class="sr-only">(current)</span></a>
              </form>
            </div>
          </nav>
         <form class="col-md-4 offset-md-4 collectform" method="POST" action="/collectvisit/">
            
  
{% csrf_token %}


 
<h1>Site Visit Details</h1>
<!-- <div class="form-group row">
  <label for="wastetype"  class="col-md-4 col-form-label">Wastetype</label>

  
  <div class="col-md-4">
    {{cb.wastetype}}
  </div>
</div>
<div class="form-group row">
  <label for="weight"  class="col-md-4 col-form-label">Weight</label>

  
  <div class="col-md-4">
    {{cb.weight}}
  </div>
</div>
<div class="form-group row">
  <label for="price"  class="col-md-4 col-form-label">Price</label>

  
  <div class="col-md-4">
    {{cb.price}}
  </div>
</div>


<form method="POST" action="/colorder/{{cb.id}}">
{% csrf_token %}
    <div class="container">
        <input type="hidden" value="{{cb.id}}">
        <input type="hidden" name="status" value="booked">
        <input type="hidden" name="email" value="{{user.username}}">
        <input type="hidden" name="name" value="{{user.first_name}}">
        <div class="form-group row">
        
          
          <div class="col-md-7">
            <button type="submit" class="btn btn-primary btn-lg">Book Now</button> 

          </div>
        </div>
        

      </form> -->
    









    
    User Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="username" value={{sv.user}}><br><br>

    User Email ID:&nbsp;&nbsp;&nbsp;<input type="text" name="email" value={{sv.email}}><br><br>

   
    <input type="hidden" name="cname" value={{sv.cname}}><br>
    <!-- <input type="hidden" name="email1" value={{user.email1}}> -->
    <!-- <input type="hidden" name="d5" value={{user.housenumber}}> -->
   
   Type of Waste:&nbsp;&nbsp;&nbsp;<input type="text" name="wastetype" value={{sv.wastetype}}><br><br>
  

     
    Weight:&nbsp;<input type="text" name="weight" value={{sv.weight}}><br><br>
   
   Price:&nbsp;<input type="text" name="price" value={{sv.price}}><br><br><hr>
 
    
   <div class="col-md-4 align-items-end ml-md-5">
       <div class="form-group" data-target="#{{date13}}">
            
                
                
   <!-- <label for="">Date For Site Visit</label> -->
   Date for Collecting &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <input type="date" name="date22" id="date2">
   </div>
   </div>

   
 

 
   <input type="submit"  value="SUBMIT" style="background-color: chartreuse;" >
        
                    
   </form>
          
     

   <script>
       $(function f22() {
           $("#{{date13}}").data({
               format: 'yyyy/mm/dd',
           });
       });
   </script>








    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      </body>
    </html>
    