{% load static %}
    <!doctype html>
    <html lang="en">
      <head>
          <style>
            form
            {
              margin-top: 50px;
              color:blue;
            }
        h1{
            color: crimson;
        }
            th{
              
            color:mediumblue;
          }
          </style>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="\static\CSS\aboutus.css">
        <title>online waste management</title>
      </head>
      <body>
    
    
        <body class="bgcolor8" background="\static\images\b21.jpg" >
     
    
    
    
    
    
    
    
    
    
          <nav class="navbar navbar-expand-lg navbar-primary ">
            <!-- <a class="navbar-brand" href="#">E Waste</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/adminhome/">Home <span class="sr-only">(current)</span></a>
                </li>
                
                
              </ul>
              <form class="form-inline  my-lg-0">
                
                <a class="nav-link"  href="/adminhome/">Logout</a>
              </form>
            </div>
          </nav>
    
    

           <form method="POST" action="/viewcollect/">
           {% csrf_token %}
          
           <table class="table table-bordered table-primary">
            <thead>
              <tr>
                <!-- <th scope="col">No</th> -->
                <th scope="col">Collecting Agent Name</th>
                <th scope="col">Email Id</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Address</th>
                

              </tr>
            </thead>
            <tbody>
              <tr>
                {% for e in v1 %}
                <!-- <th scope="row">1</th> -->
                <td>{{e.cname}}</td>
                <td>{{e.username}}</td>
                <td>{{e.mobile}}</td>
                <td> {{e.state}}<br>
                {{e.district}}<br>
              {{e.city}}<br>
            {{e.pin}}</td>
                
                
              </tr>
              
              {% endfor %}
            </tbody>
          </table>
           <!-- <div class="form-group row">
            
             <div class="col-md-7">
          <a href="/collectingagent/" ></a>  
           <h1>{{e.cname}}</h1>
            </div>
           </div>
            <div class="form-group row">
             Location : 
              <div class="col-md-7">
                {{e.state}}
             </div>
            </div>
            <div class="form-group row">
              Mobile No : 
              <div class="col-md-7">
                {{e.mobile}}
              </div>
            </div>
            <div class="form-group row">
              EmailId :
              <div class="col-md-7">
                {{e.username}}
              </div>
            </div>
     -->
        
             
          </form>
    





    
        
    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      </body>
    </html>
    